<div class="landing-container flex-center" style="height: 100%;width: 100%">
  <mat-card class="auth-card">
    <mat-card-content>
      <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
        <mat-tab label="Login">
          test
          <app-login/>
        </mat-tab>
        <mat-tab label="Sign Up">
          test
          <app-signup/>
        </mat-tab>
      </mat-tab-group>
      <!-- <div style="display: flex;width: 100%;" >
        <div style="width: 50%;padding: 10px;">
          <app-signup/>
        </div>
        <div style="width: 50%;padding: 10px;">
          <app-login/>
        </div>
      </div> -->
    </mat-card-content>
  </mat-card>
</div>
