<div class="p-1">
  @if (!addToggle()) {
    <div>
      <div class="flex gap-1rem">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="SEARCH" #input>
        </mat-form-field>
        @if (editOrDeleteAcess) {
          <button class="addButton" mat-flat-button disableRipple="true" color="primary" (click)="addToggle.set(!addToggle())">
            <mat-icon>add</mat-icon>
            ADD Company
          </button>
        }
      </div>
      <div class="company-Columns">
        <app-view-table class="cols" [dataSource]="companies()" [cols]="cols" [editOrDeleteAcess]="editOrDeleteAcess" (editItem)="editCompany($event)"
          (deleteItem)="deleteCompany($event)" (goto)="goToCompany($event)" ></app-view-table>
      </div>
    </div>
  }
  @else {
  <app-add-company [selectedCompany]="selectedCompany()" (reloadList)="reloadList()" (cancelAddOrUpdate)="cancelAddOrUpdate()" [unitId]="unitId" />
  }
</div>
