:host::ng-deep {
  .dialog-content {
    .mat-mdc-dialog-content {
      word-wrap: break-word;
    }
  }
}

.print-options {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;

  mat-form-field {
    width: 150px;
  }
}
