.main-container{
  padding: 1rem;
  // background-color: #d3d8b9; /* Adjust according to your theme */
  background: linear-gradient(to right, #dcded0, #a0a689);
  min-height: calc(100vh - 2rem); /* Adjust according to your theme */
}
