<div>
  <table mat-table [dataSource]="dataSource()" class="mat-elevation-z2">
    @for (column of cols; track column) {
    @switch (column.name) {
    @case('Actions'){
    <ng-container [matColumnDef]="column.name">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef> {{column.name}} </th>
      <td mat-cell *matCellDef="let element;let i = index">
        <div class="justify-center">
          <button mat-button color="primary" (click)="openDialog(element)">
            <mat-icon>fullscreen</mat-icon>
            Expand
          </button>
          @if (editOrDeleteAcess()) {
            <button mat-button color="primary" (click)="editFunction(element)">
              <mat-icon>edit</mat-icon>
              Edit
            </button>
            <button mat-button color="warn" (click)="deleteFunction(element.id)">
              <mat-icon>delete</mat-icon>
              Delete
            </button>
          }
        </div>
      </td>
    </ng-container>
    }
    @case ('Name') {
    <ng-container [matColumnDef]="column.name">
      <th mat-header-cell *matHeaderCellDef> {{column.name}} </th>
      <td mat-cell *matCellDef="let element;let i = index">
        <button mat-stroked-button color="primary" (click)="goto.emit(element.id)">
          {{element[column.value]||'--'}}
        </button>
      </td>
    </ng-container>
    }
    @default {
    <ng-container [matColumnDef]="column.name">
      <th mat-header-cell *matHeaderCellDef> {{column.name}} </th>
      <td mat-cell *matCellDef="let element;let i = index"> {{element[column.value]||'--'}} </td>
    </ng-container>
    }
    }
    }
    <tr *matNoDataRow>
      <td colspan="4" class="no-data"> No data available. Please add some data to visualise.</td>
    </tr>
    <tr mat-header-row *matHeaderRowDef="getValueByKey(cols,'name'); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: getValueByKey(cols,'name')"></tr>
  </table>

</div>
