<div class="p-1">
  @if (!addToggle()) {
    <div>
      <div class="flex gap-1rem">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="SEARCH" #input>
        </mat-form-field>
        <button class="addButton" mat-flat-button disableRipple="true" color="primary" (click)="addToggle.set(!addToggle())">
          <mat-icon>add</mat-icon>
          ADD Product
        </button>
        <app-barcode-input class="ml-auto"></app-barcode-input>
      </div>
      <div class="product-Columns">
        <app-view-table [dataSource]="products()" [cols]="cols" class="cols" (editItem)="editProduct($event)"
          (deleteItem)="deleteProduct($event)" (goto)="goToSubProduct($event)" ></app-view-table>
      </div>
    </div>
  }
  @else {
  <app-add-product [selectedProduct]="selectedProduct()" (reloadList)="reloadList()" (cancelAddOrUpdate)="cancelAddOrUpdate()" [companyId]="companyId" />
  }
</div>
