<div class="p-1">
  @if (!addToggle()) {
    <div>
      <div class="flex gap-1rem">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="SEARCH" #input>
        </mat-form-field>
        @if (editOrDeleteAcess) {
          <button class="addButton" mat-flat-button disableRipple="true" color="primary" (click)="addToggle.set(!addToggle())">
            <mat-icon>add</mat-icon>
            ADD Unit
          </button>
        }
      </div>
      <div class="unit-Columns">
        <app-view-table class="cols" [dataSource]="units()" [cols]="cols" [editOrDeleteAcess]="editOrDeleteAcess" (editItem)="editUnit($event)"
          (deleteItem)="deleteUnit($event)" (goto)="goToUnit($event)" />
      </div>
    </div>
  }
  @else {
  <app-add-unit [selectedUnit]="selectedUnit()" (reloadList)="reloadList()" (cancelAddOrUpdate)="cancelAddOrUpdate()" />
  }
</div>
