<div class="p-1">
  <div>
    <button mat-raised-button color="primary" (click)="addToggle.set(!addToggle())" >
      {{addToggle()?'View Units':'ADD Unit'}}
    </button>
    <input matInput type="search" placeholder="Search" class="search-input" />
  </div>
  @if (!addToggle()) {
    <div>
      @for(unit of units(); track unit.id) {
        <div>
          <mat-card class="entity-card">
            <mat-card-header>
              <mat-icon mat-card-avatar>item</mat-icon>
              <mat-card-title>{{unit.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Unit Description: {{unit.description}} </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary" (click)="editUnit(unit)" >Edit</button>
              <button mat-button color="warn" (click)="deleteUnit(unit.id)" >Delete</button>
            </mat-card-actions>
          </mat-card>
        </div>
      }
    </div>
  }
  @else {
    <app-add-unit [selectedUnit]="selectedUnit()" (reloadList)="reloadList()"/>
  }
</div>
