<div class="login-form-container">
  <h2>Log In to Your Account</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex-column gap-1rem">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input aria-label="Name" matInput formControlName="name" required>
      <mat-error *ngIf="loginForm.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input aria-label="password" matInput type="password" formControlName="password" required>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
        Password must be at least 6 characters long
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="full-width"
      [disabled]="loginForm.invalid">
      Log In
    </button>
  </form>
</div>
