// @use '@angular/material' as mat;
// @use "sass:map";
// @include mat.core();

// $light-theme: mat.define-theme((
//   color: (
//     theme-type: light,
//     primary:mat.$azure-palette,
//   )
// ));

// $dark-theme: mat.define-theme((
//   color:(
//     theme-type: dark,
//     primary:mat.$azure-palette,
//   )
// ));

// // Apply the light theme styles globally (default)
// html{
//   @include mat.all-component-themes(map.get($light-theme, 'color'));
// }

// // Define a CSS class for dark mode that applies the dark theme
// .dark-theme {
//   @include mat.all-component-themes(map.get($dark-theme, 'color'));
// }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: #4b5320;
}

// Add these new styles
.app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.addButton{
  border-radius: 3px !important;
  height: 56px !important;
  margin-bottom: 20px !important;
}

* {
  box-sizing: border-box;
}

.flex{
  display: flex;
}
.flex-column{
  display: flex;
  flex-direction: column;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-1{
  padding: 1%;
}

.form-container{
  margin: 0 auto;
  width: 60%;
  min-width: 335px;
}
.gap-1rem{
  gap: 1rem;
}

.ml-auto{
  margin-left: auto;
}

.pointer{
  cursor: pointer;
}
