// @use '@angular/material' as mat;
// @use "sass:map";
// @include mat.core();

// $light-theme: mat.define-theme((
//   color: (
//     theme-type: light,
//     primary:mat.$azure-palette,
//   )
// ));

// $dark-theme: mat.define-theme((
//   color:(
//     theme-type: dark,
//     primary:mat.$azure-palette,
//   )
// ));

// // Apply the light theme styles globally (default)
// html{
//   @include mat.all-component-themes(map.get($light-theme, 'color'));
// }

// // Define a CSS class for dark mode that applies the dark theme
// .dark-theme {
//   @include mat.all-component-themes(map.get($dark-theme, 'color'));
// }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Add these new styles
.app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
