.breadcrumb-link {
  text-decoration: none;
  color: blue;
  font-size: 1rem;
  font-family: monospace;
}

.breadcrumb-current {
  text-decoration: none;
  color: grey;
  font-size: 1rem;
  font-family: monospace;
  /* Adjust according to your theme */
}
