.breadcrumb-link {
  text-decoration: none;
  color: #37440a;
  font-size: 1rem;
  // font-family: monospace;
}

.breadcrumb-current {
  // text-decoration: none;
  color: grey;
  font-size: 1.5rem;
  // font-family: monospace;
  /* Adjust according to your theme */
}

.breadcrumb-container {
  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #ebeedd, #c6ceaa);
  // position: sticky;
  // top: 0;
  color: #37440a;
  z-index: 1000;
  white-space: break-spaces;
}
